{% extends '@App/modal.html.twig' %}

{% block title %}Меню{% endblock %}

{% block body %}
    <div style="display:none" class="flash-message notice">
        <p class="util-relative ">
            <a href="" class="icon-close" data-action="FlashHide"></a>
        </p>
    </div>
    <nav class="mobile-menu">
        <nav class="site-links">
            <a class="icon-about" target="_blank" href="http://about.ask.fm?lang=ru">Об ASKfm</a>
            <a class="icon-safetycenter" target="_blank" href="http://safety.ask.fm?lang=ru">Центр безопасности</a>
            <a class="icon-contacthelp" target="_blank" href="http://support.ask.fm?lang=ru">Помощь</a>
            <a class="icon-community-guidelines" target="_blank" href="http://safety.ask.fm/community-guidelines/">Рекомендации сообщества</a>
            <a class="icon-termsofuse" target="_blank" href="http://about.ask.fm/terms/?lang=ru">Правила пользования</a>
            <a class="icon-privacypolicy" target="_blank" href="http://about.ask.fm/privacy-policy/?lang=ru">Политики конфиденциальности</a>
            <a class="icon-cookiespolicy" target="_blank" href="http://about.ask.fm/cookie-policy/?lang=ru">Политики относительно куки-файлов</a>
            <a class="icon-about" target="_blank" href="http://about.ask.fm/advertising/?lang=ru">Реклама</a>
            <a class="language icon-language" title="{{ 'footer.language.choose'|trans }}" data-action="PopupOpen" data-url="{{ path('site_home_languages') }}" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;language&quot;,&quot;Home&quot;,&quot;Locales&quot;]}" href="#">{{ currentLocale.name }}</a>
        </nav>
        <nav class="social-links">
            <a class="icon-askfm-solo" target="_blank" href="http://ask.fm/askfm"></a>
            <a class="icon-facebook-solo" target="_blank" href="https://www.facebook.com/askfmpage"></a>
            <a class="icon-twitter-solo" target="_blank" href="https://twitter.com/askfm"></a>
            <a class="icon-instagram-solo" target="_blank" href="https://instagram.com/askfm"></a>
            <a class="icon-vk-solo" target="_blank" href="https://vk.com/askfm"></a>
        </nav>
    </nav>
{% endblock %}