{% extends '@App/base.html.twig' %}

{% block body_class %}welcome-container variant{{ random(4) }} util-overlay util-vcontainer{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ block('title') }}" />
    <meta property="og:description" content="Find out what people want to know about you. Ask questions and get answers on any topic!" />
    <meta property="og:url" content="http://ask.fm/" />
    <meta property="og:image" content="http://ask.fm/assets/logo-preview-175bc686408cecd30265ba2d1648a7738f227ed456e74db982de50bb378c08db.png" />
    <link rel="image_src" href="http://ask.fm/assets/logo-preview-175bc686408cecd30265ba2d1648a7738f227ed456e74db982de50bb378c08db.png" />
{% endblock %}

{% block body %}
    <a title="Меню" class="btn-action-icon icon-hamburger rsp-eql-mobile" data-action="PopupOpen" data-url="{{ path('site_home_menu') }}" href="#"></a>
    <div class="util-vcenter">
        <div class="logo-block">
            <img class="logo" src="http://ask.fm/assets/logo-cd831b4bd5999db5c4c61891a7cbde736d609225440f156fae75896f25acb0c4.png" />
            {{ 'home.ask_and_answer'|trans }}
        </div>
        <a class="btn-primary-wide" href="{{ path('fos_user_registration_register') }}">{{ 'home.sign_up'|trans }}</a>
        <a href="{{ path('fos_user_security_login') }}">{{ 'home.login'|trans }}</a>
    </div>
    <div class="icon-owl-peek-left"></div>
    <div class="icon-owl-peek-right rsp-eql-desktop"></div>
    <footer>
        <div class="rsp-container">
            <div class="stores">
                <a href="https://itunes.apple.com/app/id635896473"><img src="http://ask.fm/assets/badge_app_store-295030b5b564249ece243925403e9451a1f4be6c57a23a8dcc8b6d239562bcdc.png" /></a>
                <a href="https://play.google.com/store/apps/details?id=com.askfm"><img src="http://ask.fm/assets/badge_google_play-29d760db7be3bc35bd1cafb14086643b18cdfe15c6e3de51298977b5425a3727.png" /></a>
            </div>
            <nav class="faces rsp-gte-tablet">
                {% for user in users %}
                    <a href="{{ path('site_profile_show', {username: user.username}) }}"><img alt="{{ user.username }}" src="http://akimg0.ask.fm/assets2/095/041/336/832/thumb/IMG_20150222_105556.jpg" /></a>
                {% endfor %}
            </nav>
            <nav class="site-links rsp-gte-tablet">
                <a target="_blank" href="http://about.ask.fm?lang=ru">Об ASKfm</a>
                <a target="_blank" href="http://safety.ask.fm?lang=ru">Центр безопасности</a>
                <a target="_blank" href="http://support.ask.fm?lang=ru">Помощь</a>
                <a target="_blank" href="http://safety.ask.fm/community-guidelines/">Рекомендации сообщества</a>
                <a target="_blank" href="http://about.ask.fm/terms/?lang=ru">Правила пользования</a>
                <a target="_blank" href="http://about.ask.fm/privacy-policy/?lang=ru">Политики конфиденциальности</a>
                <a target="_blank" href="http://about.ask.fm/cookie-policy/?lang=ru">Политики относительно куки-файлов</a>
                <a target="_blank" href="http://about.ask.fm/advertising/?lang=ru">Реклама</a>
            </nav>
            <span class="copyright">&copy; Ask.fm 2017</span>
            <a class="language icon-language" title="{{ 'footer.language.choose'|trans }}" data-action="PopupOpen" data-url="{{ path('site_home_languages') }}" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;language&quot;,&quot;Home&quot;,&quot;Locales&quot;]}" href="#">{{ currentLocale.name }}</a>
        </div>
    </footer>
{% endblock %}