{% extends '@App/modal.html.twig' %}

{% block title %}{{ 'language'|trans }}{% endblock %}

{% block body %}
    <div style="display:none" class="flash-message notice">
        <p class="util-relative ">
            <a href="" class="icon-close" data-action="FlashHide"></a>
        </p>
    </div>
    <div class="locales-container">
        {% for batch in locales|batch(10) %}
            <div class="locales-column">
                {% for locale, name in batch %}
                    {% if locale == app.request.locale %}
                        <strong><span dir="ltr" class="defaultListItem">{{ name }}</span></strong>
                    {% else %}
                        <a class="defaultListItem" data-action="ButtonPostOnce" data-method="put" data-url="{{ path('site_change_language', {locale: locale}) }}" href="#"><span dir="ltr">{{ name }}</span></a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}