<!DOCTYPE html>
<html lang="{{ currentLocale.code }}" dir="{{ currentLocale.rtl ? 'rtl' : 'ltr' }}">
<head>
    <script>
        //<![CDATA[
        document.domain = "{{ domain }}";
        //]]>
    </script>
    <title>{% block title %}Ask and Answer - ASKfm{% endblock %}</title>
    <meta name="description" content="Find out what people want to know about you. Ask questions and get answers on any topic!" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" media="all" href="{{ asset('assets/application_ltr.css') }}" data-turbolinks-track="true" />
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/turbolinks.js') }}" data-turbolinks-track="true"></script>
    <script src="{{ asset('assets/application.js') }}" data-turbolinks-track="true"></script>
</head>

<body class="{% block body_class %}contentBody dialogBody theme{{ app.user.theme }}{% endblock %}">
<script>
    window.Config && window.Config.init({"poller:interval":30000,"poller:cache_limit":10,"mass_ask_limit":50,"flash:delay":3000,"redirect_from_http_to_https":false,"gtm":false,"page:category":"Signup","page:type":"New","page:user_id":{{ app.user == null ? 'null' : app.user.id }}});
</script>
<div id="loaderMother" style="display:none"></div>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>