{% extends '@App/base.html.twig' %}

{% block body_class %}{{ parent() }} twoColumnBody{% endblock %}

{% block body %}
    <div id="topMenu">
        <div class="rsp-eql-desktop">
            <div class="topBar rsp-container with-flex">
                <a class="icon-askfm-logo topBar-left" href="{{ path(app.user is null ? 'site_homepage' : 'site_account_wall') }}"></a>
                {% if app.user is null %}
                    <div class="topBar-right">
                        <a class="btn-action plain" data-action="PopupOpen" data-url="{{ path('fos_user_registration_register') }}" href="#">{{ 'home.sign_up'|trans }}</a>
                        <a class="btn-action plain" data-action="PopupOpen" data-url="{{ path('fos_user_security_login') }}" href="#">{{ 'home.login'|trans }}</a>
                    </div>
                {% else %}
                    <nav class="desktop-menu">
                        {#{{ knp_menu_render('AppBundle:Main:desktopMenu') }}#}
                        <a class="" href="/account/wall">Стена</a>
                        <a class="" href="/account/inbox">Вопросы</a>
                        <a class="" href="{{ path('site_profile_show', {username: app.user.username}) }}">Профиль</a>
                        <a class="" href="/account/friends">Друзья</a>
                        <a class="" href="/account/notifications">
                            Уведомления
                            <span class="notificationCounter" style="display:none">0</span>
                        </a>
                        <a title="Аккаунт" class="icon-settings" data-action="BlockToggle" data-target=".desktop-menu nav" data-class="active" href="#"></a>
                        <nav style="display:none">
                            <a href="{{ path('site_account_settings_profile') }}">Настройки</a>
                            <a data-action="ButtonPostOnce" data-url="{{ path('fos_user_security_logout') }}" href="#">Выйти</a>
                        </nav>
                    </nav>
                {% endif %}
            </div>
        </div>
        <div class="rsp-lte-tablet">
            <div class="topBar rsp-container ">
                {% if app.user is null %}
                    <div class="topBar-left">
                        <a class="btn-action plain" data-action="PopupOpen" data-url="{{ path('fos_user_registration_register') }}" href="#">{{ 'home.sign_up'|trans }}</a>
                    </div>
                    <div class="topBar-right">
                        <a class="btn-action plain" data-action="PopupOpen" data-url="{{ path('fos_user_security_login') }}" href="#">{{ 'home.login'|trans }}</a>
                    </div>
                {% else %}
                    <div class="topBar-left">
                        <a class="btn-action-icon icon-hamburger" title="Меню" data-action="PopupOpen" data-url="/home/menu" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;menu&quot;,&quot;Home&quot;,&quot;Menu&quot;]}" href="#"></a>
                    </div>
                    {#<div class="topBar-right">#}
                        {#<a title="Задать вопрос" class="btn-action-icon icon-ask" href="{{ path('site_profile_ask', {username: user.username}) }}"></a>#}
                    {#</div>#}
                {% endif %}
                <a class="icon-askfm-logo" href="{{ path(app.user is null ? 'site_homepage' : 'site_account_wall') }}"></a>
            </div>
        </div>
        {% if app.user is not null %}
            <div class="tabBar">
                <div class="rsp-container">
                    <a title="Стена" class="tabBarTab icon-tab-home" href="/account/wall"></a>
                    <a title="Вопросы" class="tabBarTab icon-tab-questions" href="/account/inbox"></a>
                    <a title="Профиль" class="tabBarTab icon-tab-profile" href="{{ path('site_profile_show', {username: app.user.username}) }}"></a>
                    <a title="Друзья" class="tabBarTab icon-tab-friends" href="/account/friends"></a>
                    <a title="Уведомления" class="tabBarTab icon-tab-notifications" id="notificationPollPath" data-poll-url="/account/notifications/counts" href="/account/notifications">
                        <span class="tabBar-notification notificationCounter" style="display:none">0</span>
                    </a>
                </div>
            </div>
        {% endif %}
        <div style="display:none" class="flash-message notice">
            <p class="util-relative rsp-container">
                <a href="" class="icon-close" data-action="FlashHide"></a>
            </p>
        </div>
    </div>
    <div id="contentArea" class="withTabBar">
        <div class="rsp-container">
            {% if block('top_content') is not empty %}
                <div class="rsp-row top-content">{% block top_content %}{% endblock %}</div>
            {% endif %}
            <div class="rsp-row main-content util-clearfix">
                <div class="rsp-gte-mobile main-column">
                    {% block main_column %}{% endblock %}
                </div>
                <div class="rsp-eql-desktop side-column">
                    <div class="sticky-anchor">
                        {% block side_column %}{% endblock %}
                    </div>
                    <div data-stick-to=".sticky-anchor">
                        <footer>
                            <nav class="site-links">
                                <a target="_blank" href="http://about.ask.fm?lang=ru">Об ASKfm</a>
                                <a target="_blank" href="http://safety.ask.fm?lang=ru">Центр безопасности</a>
                                <a target="_blank" href="http://support.ask.fm?lang=ru">Помощь</a>
                                <a target="_blank" href="http://safety.ask.fm/community-guidelines/">Рекомендации сообщества</a>
                                <a target="_blank" href="http://about.ask.fm/terms/?lang=ru">Правила пользования</a>
                                <a target="_blank" href="http://about.ask.fm/privacy-policy/?lang=ru">Политики конфиденциальности</a>
                                <a target="_blank" href="http://about.ask.fm/cookie-policy/?lang=ru">Политики относительно куки-файлов</a>
                                <a target="_blank" href="http://about.ask.fm/advertising/?lang=ru">Реклама</a>
                            </nav>
                            <nav class="social-links">
                                <a class="icon-askfm-solo" target="_blank" href="http://ask.fm/askfm"></a>
                                <a class="icon-facebook-solo" target="_blank" href="https://www.facebook.com/askfmpage"></a>
                                <a class="icon-twitter-solo" target="_blank" href="https://twitter.com/askfm"></a>
                                <a class="icon-instagram-solo" target="_blank" href="https://instagram.com/askfm"></a>
                                <a class="icon-vk-solo" target="_blank" href="https://vk.com/askfm"></a>
                            </nav>
                            <span class="copyright">&copy; Ask.fm 2017</span>
                            <a class="language icon-language" title="{{ 'footer.language.choose'|trans }}" data-action="PopupOpen" data-url="{{ path('site_home_languages') }}" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;language&quot;,&quot;Home&quot;,&quot;Locales&quot;]}" href="#">{{ currentLocale.name }}</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}