{%- block form_row -%}
    <div{{ attr.class is defined ? '  class="' ~ attr.class ~ '"' : '' }}>
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}

{%- block form_label -%}
    <h3 class="simpleFormLabel">{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</h3>
{%- endblock form_label -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select class="selectForm" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{% block text_widget %}
    {{- block('form_widget_simple') -}}
{% endblock %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    <div{% if type != 'hidden' %} class="inputFormPadding"{% endif %}>
        <input class="inputForm" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endblock form_widget_simple %}

{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            <table class="multiFormHolder">
                <tbody>
                <tr data-confirm="Это действительно правильная дата рождения?">
                    <td class="leftSideCellFill">
                        {{ form_widget(form.day) }}
                    </td>
                    <td class="mainCellFill">
                        {{ form_widget(form.month) }}
                    </td>
                    <td class="rightSideCellFill">
                        {{ form_widget(form.year) }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {%- endif -%}
{%- endblock date_widget -%}