<div id="lightbox-head">
    <div class="title">{% block title %}{% endblock %}</div>
    <a href="#" data-action="PopupClose" class="util-close"></a>
</div>
<div id="lightbox-body">
    {% block body %}{% endblock %}
</div>