{% extends '@App/modal.html.twig' %}

{% block body %}
    <div style="display:none" class="flash-message notice">
        <p class="util-relative ">
            <a href="" class="icon-close" data-action="FlashHide"></a>
        </p>
    </div>
    <form id="askForm" autocomplete="off" class="new_question" data-gtm="{&quot;name&quot;:&quot;ask-question&quot;,&quot;meta&quot;:[&quot;mass&quot;,false]}" data-action="MassAskSubmit" action="{{ path('site_account_ask_friends') }}" accept-charset="UTF-8" method="post">
        <div class="question">
            <textarea placeholder="Напишите ваш вопрос" data-counter=".optionsBar-counter" data-limit="300" data-atcomplete="/account/friends/autocomplete" name="question_text" id="question_question_text">{{ questionText }}</textarea>
        </div>
        <div class="optionsBar">
            <div class="optionsBar-option optionsBar-online">
                Показывать статус
                <span class="afm-popover-container">
                    <a class="icon-caret-up online" data-action="PopoverOpen" data-class="online" data-text="Скрыт" href="#">Онлайн</a>
                    <nav class="afm-popover right" style="display:none">
                        <a class="online" data-action="OnlineStatusShow" data-url="/account/settings/online" href="#">Онлайн</a>
                        <a data-action="OnlineStatusHide" data-url="/account/settings/online" href="#">Скрыт</a>
                    </nav>
                </span>
            </div>
            <div class="optionsBar-option optionsBar-counter"></div>
            <input name="anonymous" type="hidden" value="0" />
            <input class="checkbox" data-action="MassAskToggleAnonymous" type="checkbox" value="true"{% if isAnonymous %} checked="checked"{% endif %} name="anonymous" id="question_anonymous" />
            <label for="question_anonymous" class="optionsBar-askMode">
                <span>Анонимный вопрос</span>
            </label>
        </div>
        <div class="captchaContainer" style="display:none" data-url="null" data-single-url="/account/ask-friend/captcha" data-mass-url="/account/ask-friends/captcha"></div>
        <div class="searchBar searchBar-massAsk">
            <div class="search-bar-label">
                Выберите друзей
                (<span class="selectFriendsCounter">0/50</span>)
            </div>
            <label class="search-input">
                <input type="text" name="search" placeholder="Поиск" autofocus="autofocus" data-input="MassAskSearch" data-url="/account/ask-friends/select" />
            </label>
        </div>
        <div id="MassAskSearch" data-disabled-item-error="Этот пользователь не разрешает задавать анонимные вопросы" data-min-users-error="Выберите друзей" data-max-users-error="Вы можете выбрать только 50 друзей">
            <div class="item-pager ">
                {% for user in friends %}
                    <a class="item streamItem streamItem-user" data-action="MassAskToggleUser" data-login="{{ user.username }}" data-allow-anonymous-questions="true" href="#">
                        <div class="listItemCheckbox"></div>
                        <div style="background-image:url({{ asset('assets/noAvatar.png') }})" class="askfm-avatar45 "></div>
                        <div class="streamItemWallContent streamItemContent-user">
                            <span class="blockLink online-user">{{ user.displayName }}</span>
                            <span class="blockLink" dir="ltr">@{{ user.username }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <p class="emptyResults" style="display:none">
                По вашему запросу пользователей не найдено
            </p>
        </div>
        <div class="optionsBar">
            <button name="button" type="submit" class="btn-primary">Спросить</button>
        </div>
    </form>
{% endblock %}