{% extends '@App/base_auth.html.twig' %}

{% block title %}Друзья | ASKfm{% endblock %}

{% block main_column %}
    <div class="rsp-eql-mobile">
        <nav class="subTabBar ">
            <a class="active" href="{{ path('site_account_friends') }}">Все</a>
            <a title="Хэштеги" class="icon icon-hash" href="/account/friends/hashtags"></a>
            <a title="Социальные сети" class="icon icon-settings-social" href="/account/friends/social"></a>
        </nav>
    </div>
    <div class="rsp-gte-tablet">
        <nav class="subTabBar-wide ">
            <a class="active" href="{{ path('site_account_friends') }}">Все</a>
            <a class="" href="/account/friends/hashtags">Хэштеги</a>
            <a class="" href="/account/friends/social">Социальные сети</a>
        </nav>
    </div>
    <form action="/account/friends" accept-charset="UTF-8" method="get">
        <div class="searchBar">
            <label class="search-input">
                <input type="text" name="q" autofocus="autofocus" placeholder="Поиск людей по ключевым словам" data-input="UserSearch" data-url="/account/friends" />
            </label>
        </div>
        <div class="item-pager">
            <h2 class="blackHeadline">Друзья</h2>
            {% for user in friends %}
                <div class="item streamItem streamItem-user">
                    <a class="btn-secondary icon-caret-right" href="{{ path('site_profile_ask_form', {username: user.username}) }}">Спросить</a>
                    <a class="icon-star" data-action="FavoriteToggle" data-url="/butkodenis/favorite" data-toggle-url="/butkodenis/unfavorite" data-class="active" data-error-message="Нельзя подписаться на этого пользователя в данный момент" href="#"></a>
                    <a style="background-image:url(https://akimg2.ask.fm/assets/169/711/024/thumb/w_qbyowwce4.jpg)" class="askfm-avatar45{% if app.user.emoodji > 0 %} emoodji-user emoodji{{ app.user.emoodji }}-user{% endif %}" href="{{ path('site_profile_show', {username: user.username}) }}"></a>
                    <a class="streamItemWallContent streamItemContent-user" href="{{ path('site_profile_show', {username: user.username}) }}">
                        <span class="blockLink">{{ user.displayName }}</span>
                        <span class="blockLink" dir="ltr">@{{ user.username }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}

{% block side_column %}
    {% include '@App/Partials/side_ask_friends.html.twig' %}
{% endblock %}