{% extends '@App/base_auth.html.twig' %}

{% block title %}Вопросы | ASKfm{% endblock %}

{% block main_column %}
    <div class="streamItem streamItem-panel rsp-eql-desktop">
        <a class="btn-primary-icon icon-random" data-url="/account/inbox/random-question" data-action="QuestionRandom" href="#">Получить случайный вопрос</a>
        <a id="questions-delete" class="btn-primary-icon icon-close inverse"{% if questions|length == 0 %} style="display: none;"{% endif %} data-url="{{ path('site_question_delete_all') }}" data-action="QuestionsDelete" data-confirm="Вы уверены, что хотите удалить все вопросы?" href="#">Удалить все вопросы</a>
        <h1 class="streamItemContent streamItemContent-info">
            Вопросы
            <span id="question-count" title="Количество неотвеченных вопросов">{{ questions|length }}</span>
        </h1>
    </div>
    <div class="streamItem streamItem-panel">
        <p class="streamItemContent">Полученные вопросы не будут видны другим пользователям в вашем профиле, пока вы на них не ответите</p>
    </div>
    <div class="item-pager">
        {% for question in questions %}
            <div class="item streamItem streamItem-question">
                <a title="Удалить" class="streamItem-remove icon-close" data-action="QuestionDelete" data-url="{{ path('site_question_delete', {id: question.id}) }}" href="#"></a>
                <div class="streamItemContent streamItemContent-question">
                    <h2>{{ question.text }}</h2>
                </div>
                <div class="streamItemContent streamItemFooter-inbox">
                    <span class="streamItemsAge" title="февраля 01, 2016 19:49:55 GMT">
                        больше 1 года назад
                    </span>
                    <a class="btn-secondary icon-caret-right" href="{{ path('site_question_show', {id: question.id}) }}">Ответить</a>
                </div>
                <div class="streamItemOptions afm-popover-container">
                    <a title="Другое" class="streamItemOptions-more icon-more" data-action="PopoverOpen" href="#"></a>
                    <nav class="afm-popover right" style="display:none">
                        <a class="icon-flag" data-action="PopupOpen" data-url="{{ path('site_question_flag_report', {id: question.id}) }}" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;report-question&quot;,&quot;Questions reports&quot;,&quot;New reason&quot;]}" href="#">Пожаловаться на вопрос</a>
                        <a class="icon-block" data-action="PopupOpen" data-url="{{ path('site_question_flag_block', {id: question.id}) }}" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;report-question&quot;,&quot;Questions reports&quot;,&quot;New block&quot;]}" href="#">Заблокировать пользователя</a>
                    </nav>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="emptyResults"{% if questions|length > 0 %} style="display: none;"{% endif %}>
        <p>Сообщите друзьям, что используете ASKfm</p>
        <a class="btn-secondary icon-share" data-action="PopupOpen" data-url="/account/share-profile" href="#">Рассказать друзьям</a>
    </div>
{% endblock %}

{% block side_column %}
    {% include '@App/Partials/side_ask_friends.html.twig' %}
    {% include '@App/Partials/side_last_friends.html.twig' %}
{% endblock %}