{% extends '@App/base.html.twig' %}

{% block title %}
    Настройки аккаунта
{% endblock %}

{% block body %}
    <h3>Настройки аккаунта</h3>
    {% set socials = app.user.userSocials %}
    {% for owner in hwi_oauth_resource_owners() %}
        <div>
            {{ owner | trans({}, 'HWIOAuthBundle') }}: {{ id|default('-') }}
            {% if socials is null %}
                <a href="{{ hwi_oauth_login_url(owner) }}">Привязать</a>
            {% else %}
                {% set id = attribute(socials, owner~"Id") %}
                {% if id is null %}
                    <a href="{{ hwi_oauth_login_url(owner) }}">Привязать</a>
                {% else %}
                    <a href="{{ path('social_disconnect', {owner: owner}) }}">Отвязать</a>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}