{% extends '@App/base_auth.html.twig' %}

{% block title %}Стена | ASKfm{% endblock %}

{% block main_column %}
    <form id="streamItemAskForm" class="rsp-eql-tablet" action="/account/ask-friends" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input type="hidden" name="_method" value="put" />
        <input type="hidden" name="authenticity_token" value="WWPCqze5r9OpH6UyZlVHXOsFRs+J6DXGOScb5VtymX+snUEFoCzPQMIXldHTCOQRQn/LwSPpLJtczC5N5RSSgg==" />
        <div class="question">
            <input placeholder="Напишите ваш вопрос" data-atcomplete="/account/friends/autocomplete" type="text" name="question[question_text]" id="question_question_text" />
        </div>
    </form>
    <div class="rsp-eql-mobile">
        <nav class="subTabBar feedTabBar">
            <a class="active" href="/account/wall">СТЕНА</a>
            <a class="" href="/account/discover">ИНТЕРЕСНОЕ</a>
        </nav>
    </div>
    <div class="rsp-gte-tablet">
        <nav class="subTabBar-wide feedTabBar">
            <a class="active" href="/account/wall">СТЕНА</a>
            <a class="" href="/account/discover">ИНТЕРЕСНОЕ</a>
        </nav>
    </div>
    <div class="streamItem streamItem-panel toggle">
        <p>Показывать ответы и лайки друзей</p>
        <input type="checkbox" name="skip_likes" id="skipLikes" value="1" class="btn-toggle" data-action="FeedToggle" />
        <label for="skipLikes" class="icon-like"></label>
    </div>
    <a id="newItemsReady" style="display:none" data-action="ItemsPoll" data-poll-url="/account/wall/poll?score=1486444778&amp;skip_likes=false&amp;skip_photopolls=true" href="#"></a>
    <div class="item-pager">
        {% for event in events %}
            <div class="item streamItem streamItem-answer">
                <div class="streamItemWallContent streamItemContent-question">
                    <h2>{{ event.question.text }}</h2>
                </div>
                <a class="streamItemAvatar emoodji-user emoodji42-user" style="background-image:url(https://akimg3.ask.fm/732/7e950/7af8/4c37/bd62/0ad0b08f7a3d/thumb/69570.png)" href="/greenivy24"></a>
                <div class="answerWrapper">
                    <p class="streamItemWallContent streamItemContent-answer">{{ event.question.answerText }}</p>
                    <p class="readMore">
                        <a class="button" data-action="ReadMore" href="#">Показать еще</a>
                    </p>
                </div>
                <div class="streamItemWallContent streamItemContent-footer">
                    <div class="streamItemsAge links">
                        <a class="" href="{{ path('site_profile_show', {username: event.questionReceiverUser.username}) }}">{{ event.questionReceiverUser.displayName }}</a>
                    </div>
                    <div class="streamItemsAge links extra">
                        <a title="февраля 07, 2017 04:52:41 GMT" href="/greenivy24/answers/140662313012">4 дня назад</a>
                    </div>
                </div>
                <div class="streamItemOptions afm-popover-container">
                    <div class="likeButton">
                        <a class="icon-like" title="Мне нравится" data-action="AnswerLikeToggle" data-url="/greenivy24/answers/140662313012/likes" data-gtm="like-toggle" href="#"></a>
                        <a class="counter" style="display:none" href="/greenivy24/answers/140662313012">0</a>
                    </div>
                    <a title="Другое" class="streamItemOptions-more icon-more" data-action="PopoverOpen" href="#"></a><nav class="afm-popover right" style="display:none"><a class="icon-flag" data-action="PopupOpen" data-url="/greenivy24/answers/140662313012/flag" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;report-topic&quot;,&quot;Answer reports&quot;,&quot;New reason&quot;]}" href="#">Пожаловаться на сообщение</a></nav>
                    <a class="rsp-lte-tablet streamItemOptions-reask icon-reask" data-action="ButtonPostOnce" data-url="/account/ask-friends" data-method="put" data-title="Перезадать вопрос" data-params="{&quot;question[question_text]&quot;:&quot;Кто тебя бесит?&quot;,&quot;reask&quot;:true}" title="Перезадать вопрос" href="#"></a>
                    <a class="rsp-eql-desktop streamItemOptions-reask icon-reask" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;question-popup&quot;,&quot;Questions&quot;,&quot;Reask&quot;]}" data-action="PopupOpen" data-url="/account/ask-friends" data-method="put" data-title="Перезадать вопрос" data-params="{&quot;question[question_text]&quot;:&quot;Кто тебя бесит?&quot;,&quot;reask&quot;:true}" title="Перезадать вопрос" href="#"></a>
                    <a title="Поделиться" class="streamItemOptions-share icon-share" data-action="PopupOpen" data-url="/greenivy24/answers/140662313012/share" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;share-topic&quot;,&quot;Share answer&quot;,&quot;New&quot;]}" href="#"></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block side_column %}
    {% include '@App/Partials/side_ask_friends.html.twig' %}
    {% include '@App/Partials/side_last_friends.html.twig' %}
{% endblock %}