{% extends '@App/base_auth.html.twig' %}

{% block main_column %}
    <div class="rsp-eql-mobile">
        <nav class="subTabBar ">
            <a title="Профиль" class="icon icon-settings-profile active" href="{{ path('site_account_settings_profile') }}"></a>
            <a title="Уведомления" class="icon icon-settings-notifications" href="{{ path('site_account_settings_notifications') }}"></a>
            <a title="Социальные сети" class="icon icon-settings-social" href="/account/settings/services"></a>
            <a title="Аккаунт" class="icon icon-settings-account" href="/account/settings/account"></a>
        </nav>
    </div>
    <div class="rsp-gte-tablet">
        <nav class="subTabBar-wide ">
            <a class="active" href="{{ path('site_account_settings_profile') }}">Профиль</a>
            <a class="" href="{{ path('site_account_settings_notifications') }}">Уведомления</a>
            <a class="" href="/account/settings/services">Социальные сети</a>
            <a class="" href="/account/settings/account">Аккаунт</a>
        </nav>
    </div>
{% endblock %}