{% extends '@App/Settings/base_settings.html.twig' %}

{% block title %}Настройки | ASKfm{% endblock %}

{% block main_column %}
    {{ parent() }}
    <form id="privacyForm" action="{{ path('site_account_settings_notifications_save') }}" accept-charset="UTF-8" method="post">
        <input type="hidden" name="_method" value="put">
        <a data-action="CheckboxToggle" data-target="privacy_checkbox_1" data-class="listItemCheckbox-checked" class="defaultListItem-overflow" href="#">
            <div class="listItemCheckbox{% if app.user.newQuestionEmail %} listItemCheckbox-checked{% endif %}" id="privacy_checkbox_1"></div>
            <input type="hidden" name="new_question_email" value="{{ app.user.newQuestionEmail ? 'true' : 'false' }}">
            New question
        </a>
        <div class="simpleFormSection simpleFormSection-separator rsp-eql-desktop">
            <input type="submit" value="Save" class="btn-primary">
            <input type="button" value="Cancel" class="btn-primary inverse" data-action="ButtonGetOnce" data-url="{{ path('site_account_settings_notifications') }}">
        </div>
    </form>
{% endblock %}