{% extends '@App/Settings/base_settings.html.twig' %}

{% block title %}Настройки | ASKfm{% endblock %}

{% form_theme form _self %}

{%- block form_row -%}
    <div class="simpleFormItem">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}

{%- block email_widget -%}
    {%- set type = type|default('email') -%}
    <div{% if type != 'hidden' %} class="simpleFormPadding"{% endif %}>
        <input class="inputForm" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
    <div class="simpleFormSubline">
        <ul>
            <li>
                <a href="/account/settings/change-email">Поменять email</a>
            </li>
            <li>
                <a data-action="ButtonPostOnce" data-url="/account/settings/profile" href="#">Отправить email подтверждение еще раз</a>
            </li>
        </ul>
    </div>
{%- endblock email_widget -%}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    <div{% if type != 'hidden' %} class="simpleFormPadding"{% endif %}>
        <input class="inputForm" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
    {#<div class="simpleFormHint">Напишите коротко о себе</div>#}
{% endblock form_widget_simple %}

{%- block checkbox_widget -%}
    <div class="simpleFormSection-small simpleFormSection-splitter listItemContainer-borderless">
        <a data-action="CheckboxToggle" data-target="checkbox_{{ name }}" data-class="listItemCheckbox-checked" class="defaultListItem-overflow" href="#">
            <div class="listItemCheckbox{% if checked %} listItemCheckbox-checked{% endif %}" id="checkbox_{{ name }}"></div>
            <input type="hidden" {{ block('widget_attributes') }} value="{{ checked ? 'true' : 'false' }}">
            {{ label|trans }}
        </a>
    </div>
{%- endblock checkbox_widget -%}

{% block main_column %}
    {{ parent() }}

    {{ form_start(form, {action: path('site_account_settings_profile_save')}) }}
        <div class="simpleFormSection">
            {{ form_row(form.fullName) }}
            {{ form_row(form.location) }}
            {{ form_row(form.biography) }}
            {{ form_row(form.website) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.bornAt) }}
            {{ form_row(form.gender) }}
        </div>
        {{ form_widget(form.allowAnonymousQuestions) }}
        {{ form_widget(form.allowAnswerSharing) }}
        {{ form_widget(form.allowSubscribing) }}
        {{ form_widget(form.allowDiscovery) }}
        {{ form_widget(form.showOnlineStatus) }}
    {{ form_end(form) }}

    <div class="simpleFormSection-small simpleFormSection-separator">
        <div class="simpleFormItem uploadFormContainer">
            <h3 class="simpleFormLabel">Фото</h3>
            <div class="avatar-thumb" style="background-image:url({{ asset('assets/noAvatar.png') }})" title="Фото"></div>
            <a href="#" data-action="BlockToggle" data-target="#uploadForm">Изменить фото</a>
            <div id="uploadForm" class="fileUploadContainer fileUploadContainer-profilePictureSettings" style="display:none">
                <form class="fileUploadContainerContent" data-action="AttachmentSubmit" data-upload-url="https://upload5.ask.fm/upload/api-avatar" data-success-text="Готово" data-failure-too-big-text="Файл слишком большого размера" data-failure-wrong-format-text="Выберите статическое изображение" data-failure-text="Ошибка при загрузке файла" data-success-toggle="null" data-url="/account/settings/avatar">
                    <input type="file" name="file" accept="image/*">
                    <input type="hidden" name="specs" value="U2FsdGVkX1901XrD0mJKLSO9x7PZ1FXh7eL+JRn4CMlhdqHFFJrr76ofnhDckCa6Xj4W70ZBKntfZ3tv8GJIfFbvzPw7oVgn+9Y+VLJCXXZCeqTQ1rAfxL0Dz//bcnvCOTBgHDENULQtFExKgfH14UIDv0YORfG+K32o1dpcgqg2xs+JzOY8EvJzgqn7h9NUCwfMSNQULnPFMhLFM+LMIndOxb6EsDNO268ozQNuKQw=">
                    <input type="hidden" name="rid" value="1487184970787">
                    <div class="fileUploadLevel error">Максимальный размер 3MB JPG, PNG</div>
                    <div class="fileUploadLevel">
                        <input type="submit" name="commit" value="Сохранить изображение" class="fileUploadSubmit">
                        <div class="loaderUpload" style="display:none"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="simpleFormSection-small simpleFormSection-splitter">
        <div class="simpleFormItem uploadFormContainer">
            <h3 class="simpleFormLabel">Фон</h3>
            <div class="background-thumb" style="background-image:url({{ asset('assets/profile-bg.jpg') }})"></div>
            <a href="#" data-action="BlockToggle" data-target="#uploadBGForm">Загрузить фон</a>
            <div id="uploadBGForm" class="fileUploadContainer fileUploadContainer-profilePictureSettings" style="display:none">
                <form class="fileUploadContainerContent" data-action="AttachmentSubmit" data-upload-url="https://upload5.ask.fm/upload/api-background" data-success-text="Готово" data-failure-too-big-text="Файл слишком большого размера" data-failure-wrong-format-text="Выберите статическое изображение" data-failure-text="Ошибка при загрузке файла" data-success-toggle="null" data-url="/account/settings/design">
                    <input type="file" name="file" accept="image/*">
                    <input type="hidden" name="specs" value="U2FsdGVkX1/FIol8wZWVmiE+pqEgkhYFpfxThuwcZGWQ9ndlXoCkU60fa6/e5wMbdRO5cbM8U2zms5SvUM2yqWswF8qBnPqrySqiRVPmJVrTtqwsoxcJ5bl9cObCCKnWwaHUBTZzbUQ01/rMyZY/zJy44HIlGlG/09Fxa/jBKrA4B3oRPF4nQu/PD26kbvWuNLNiW3kSafMnpgCl3oRR5w9RsQX02Znbh87ZB6288yA=">
                    <input type="hidden" name="rid" value="1487184970796">
                    <div class="fileUploadLevel error">Максимальный размер 3MB JPG, PNG</div>
                    <div class="fileUploadLevel">
                        <input type="submit" name="commit" value="Сохранить изображение" class="fileUploadSubmit">
                        <div class="loaderUpload" style="display:none"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a id="emoodji_settings"></a>
    <div class="simpleFormSection-small simpleFormSection-splitter">
        <div class="simpleFormItem emoodjiSelection">
            <h3 class="simpleFormLabel">Выбрать настроение</h3>
            {% for i in 0..49 %}
                <a class="emoodji emoodji{{ i }}{% if app.user.emoodji == i %} active{% endif %}" data-action="ProfileSettingSelect" data-target="#user_emoodji_id" data-class="active" data-value="{{ i }}" href="#"></a>
            {% endfor %}
        </div>
    </div>
    <div class="simpleFormSection-small simpleFormSection-splitter">
        <div class="simpleFormItem themeSelection">
            <h3 class="simpleFormLabel">Выбрать цвет</h3>
            {% set selectedTheme = 0 %}
            {% for i in 0..17 %}
                <a class="theme theme{{ i }}{% if app.user.theme == i %} icon-check{% endif %}" data-action="ProfileSettingSelect" data-target="#user_theme_id" data-class="icon-check" data-value="{{ i }}" href="#"></a>
            {% endfor %}
        </div>
    </div>
    <div class="simpleFormSection simpleFormSection-separator rsp-eql-desktop">
        <input type="submit" value="Сохранить" class="btn-primary" data-action="ButtonSubmit" data-target="#profileForm">
        <input type="button" value="Отменить" class="btn-primary inverse" data-action="ButtonGetOnce" data-url="{{ path('site_account_settings_profile') }}">
    </div>
    <p class="simpleFormItem-hint simpleFormSection-splitter">
        Предоставляемая вами информация (кроме пароля) может быть использована дочерними компаниями, сторонними поисковиками и третьими сторонами, о чем сообщается в нашей <a target="_blank" href="http://about.ask.fm/privacy-policy/?lang=ru">Политике конфиденциальности</a>. Если вы не желаете, чтобы мы делились вашей информацией, не предоставляйте ее.
    </p>
{% endblock %}