{% if prompt is defined %}
    <div class="signupHeader">
        <p>Для этого вам нужно зарегистрироваться.</p>
        <p>
            Уже зарегистрированы?
            <a href="{{ path('fos_user_security_login') }}">{{ 'home.login'|trans }}</a>
        </p>
    </div>
{% endif %}
<div class="loginServices">
    <h2 class="strikeThrough"><span>{{ 'form.social.sign_up_with'|trans }}</span></h2>
    {% include '@App/Partials/auth_socials.html.twig' %}
    <h2 class="strikeThrough"><span>{{ 'or'|trans }}</span></h2>
</div>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}
    <div class="inputFormBox">
        {{ form_widget(form) }}
    </div>
    <div class="captchaContainer" style="display:none" data-url="{{ path('user_registration_captcha') }}"></div>
    <div class="simpleFormItem" id="signupFooter">
        Регистрируясь, вы соглашаетесь с нашими <a href="http://about.ask.fm/terms/?lang=ru">Правилами</a> и <a href="http://about.ask.fm/privacy-policy/?lang=ru">Политике конфиденциальности</a>
        <input type="submit" class="btn-primary-wide" value="Зарегистрироваться">
        <p>Ваше имя и любая информация, размещенная на вашем профиле, будет видна другим пользователям. Предоставленная вами информация может быть использована третьей стороной согласно нашей <a href="http://about.ask.fm/privacy-policy/?lang=ru">Политикой конфиденциальности</a>. Пожалуйста, не предоставляйте информацию, которой вы не хотели бы делиться с третьей стороной.</p>
    </div>
{{ form_end(form) }}