{% extends app.request.xmlHttpRequest ? '@App/modal.html.twig' : '@App/base.html.twig' %}

{% block title %}
    {{ 'home.sign_up'|trans }}
    {% if app.request.xmlHttpRequest != true %}
        | ASKfm
    {% endif %}
{% endblock %}

{% block body %}
    {% if app.request.xmlHttpRequest %}
        {% include '@FOSUser/Registration/register_content.html.twig' %}
    {% else %}
        <div id="topMenu">
            <div class="rsp-eql-desktop">
                <div class="topBar rsp-container with-flex">
                    <a class="icon-askfm-logo topBar-left" href="{{ path('site_homepage') }}"></a>
                    <div class="topBar-right">
                        <a class="btn-action plain" href="{{ path('fos_user_security_login') }}">{{ 'home.login'|trans }}</a>
                    </div>
                    <h1>{{ 'home.sign_up'|trans }}</h1>
                </div>
            </div>
            <div class="rsp-lte-tablet">
                <div class="topBar rsp-container ">
                    <div class="topBar-left">
                        <a title="Назад" class="btn-action-icon icon-back" href="{{ path('site_homepage') }}"></a>
                    </div>
                    {% if prompt is not defined %}
                        <div class="topBar-right">
                            <a class="btn-action plain" href="{{ path('fos_user_security_login') }}">{{ 'home.login'|trans }}</a>
                        </div>
                    {% endif %}
                    <h1>{{ 'home.sign_up'|trans }}</h1>
                </div>
            </div>
            <div style="display:none" class="flash-message notice">
                <p class="util-relative rsp-container">
                    <a href="" class="icon-close" data-action="FlashHide"></a>
                </p>
            </div>
        </div>

        <div id="contentArea" class="">
            <div class="rsp-container">
                <div class="rsp-row main-content util-clearfix">
                    <div class="rsp-gte-mobile main-column">
                        {% include '@FOSUser/Registration/register_content.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}