{% for owner in hwi_oauth_resource_owners() %}
    <a class="loginService icon-{{ owner }}-solo" data-action="ButtonPostOnce"
       data-url="{{ hwi_oauth_login_url(owner) }}" data-window="_blank"></a>
{% endfor %}