{% if app.user.followedCount > 0 %}
    <div class="side-section">
        <h3>Ваши друзья</h3>
        {% for user in follows %}
            <div class="item streamItem streamItem-user">
                <a class="btn-secondary icon-caret-right" href="{{ path('site_profile_ask', {username: user.username}) }}">Спросить</a>
                <a style="background-image:url(https://akimg3.ask.fm/732/7e950/7af8/4c37/bd62/0ad0b08f7a3d/thumb/69570.png)" class="askfm-avatar45 emoodji-user emoodji42-user" href="{{ path('site_profile_show', {username: user.username}) }}"></a>
                <a class="streamItemWallContent streamItemContent-user" href="{{ path('site_profile_show', {username: user.username}) }}">
                    <span class="blockLink">{{ user.displayName }}</span>
                    <span class="blockLink" dir="ltr">@{{ user.username }}</span>
                </a>
            </div>
        {% endfor %}
        {% if app.user.followedCount > constant('SIDE_MENU_FOLLOWS_COUNT', app.user) %}
            <p><a href="/account/friends">Показать всех друзей</a></p>
        {% endif %}
    </div>
{% endif %}