<div class="ask-box side-section">
    <h3>Спросите у друзей</h3>
    <form id="askForm" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;mass-question&quot;,&quot;Mass questions&quot;,&quot;New&quot;]}" data-action="PopupOpen" action="{{ path('site_account_ask_friends') }}" accept-charset="UTF-8" method="post">
        <input type="hidden" name="_method" value="put" />
        <div class="question">
            <textarea placeholder="Напишите ваш вопрос" data-counter=".optionsBar-counter" data-limit="300" data-atcomplete="/account/friends/autocomplete" name="question_text" id="question_question_text"></textarea>
        </div>
        <div class="optionsBar">
            <button name="button" type="submit" class="btn-primary rsp-eql-desktop">Спросить</button>
            <div class="optionsBar-option optionsBar-counter"></div>
            <input name="anonymous" type="hidden" value="0" />
            <input class="checkbox" id="mini_question_anonymous" type="checkbox" value="true" checked="checked" name="anonymous" />
            <label for="mini_question_anonymous" class="optionsBar-askMode">
                <span>Анонимный вопрос</span>
            </label>
        </div>
    </form>
</div>