{% extends '@App/base_auth.html.twig' %}

{% block main_column %}
    <form id="answerForm" autocomplete="off" class="edit_question" data-action="FormXHRSubmit" data-gtm="answer-question" action="{{ path('site_question_answer', {id: question.id}) }}" accept-charset="UTF-8" method="post">
        <div class="question">{{ question.text }}</div>
        <div class="answer">
            <textarea placeholder="Напишите ваш ответ" autofocus="autofocus" data-counter=".optionsBar-counter" data-limit="3000" data-atcomplete="/account/friends/autocomplete" name="answer_text" id="question_answer_text"></textarea>
            {#<input id="answerType" type="hidden" name="question[answer_type]" />#}
            {#<input id="photoUrl" type="hidden" name="question[photo_url]" />#}
        </div>
        <div class="optionsBar">
            {#<div id="photoThumb" style="display:none"></div>#}
            {#<a class="optionsBar-option icon-close" href="#"#}
               {#title="Удалить фото"#}
               {#data-action="PhotoRemove" style="display:none"></a>#}
            {#<a class="optionsBar-option icon-upload-image" href="#"#}
               {#title="Добавить изображение"#}
               {#data-action="BlockToggle" data-target="#uploadForm"></a>#}
            <button name="button" type="submit" class="btn-primary rsp-eql-desktop">Ответить</button>
            {#<a id="vkontakte_switch" data-action="ServicePermit" data-connected="false" data-url="/account/vkontakte/authorize?target=permit" data-window="_blank" data-class="active" title="Поделиться ВКонтакте" class="optionsBar-option icon-vk-solo" href="#"></a><input type="checkbox" name="question[sharing][]" value="vk" style="display:none" />#}
            {#<a id="twitter_switch" data-action="ServicePermit" data-connected="true" data-url="/account/twitter/authorize?target=permit" data-window="_blank" data-class="active" title="Поделиться в Твиттере" class="optionsBar-option icon-twitter-solo" href="#"></a><input type="checkbox" name="question[sharing][]" value="twitter" style="display:none" />#}
            {#<a id="facebook_switch" data-action="ServicePermit" data-connected="false" data-url="/account/facebook/authorize?target=permit" data-window="_blank" data-class="active" title="Поделиться на Facebook" class="optionsBar-option icon-facebook-solo" href="#"></a><input type="checkbox" name="question[sharing][]" value="facebook" style="display:none" />#}
            <div class="optionsBar-option optionsBar-counter"></div>
        </div>
    </form>
    {#<div id="uploadForm" style="display:none"#}
         {#class="fileUploadContainer fileUploadContainer-answerPictureSettings">#}
        {#<form class="fileUploadContainerContent" data-action="PhotoSubmit" data-upload-url="https://upload5.ask.fm/upload/api-photo-answer" data-success-text="Готово" data-failure-too-big-text="Файл слишком большого размера" data-failure-wrong-format-text="Выберите статическое изображение" data-failure-text="Ошибка при загрузке файла">#}
            {#<input type="file" name="file" accept="image/*" />#}
            {#<input type="hidden" name="specs" value="U2FsdGVkX1/m8QbavuU9DPibSIO3oG4dQ4sI9TSnhzAVah61PFZxivMbQcPdH57l/xVuGY8pf0asW29SjNOd6eNA/qO1s9B54NHO7ZHAe0N0q2wXqRx+4Wg7r2qdcJUA4vXtTQL5HS578SOzIvdth0bKsxqsisRyGmaG6vNwt6V+ReEIX4EOJn8ru94l1NBcyLB3beB+GtXSW15rPOCgSB65C24Jfl7bphrcXGLwXwngmZgfriivBH3g3DbxivS4" />#}
            {#<input type="hidden" name="rid" value="1486833386560" />#}
            {#<div class="fileUploadLevel error">Максимальный размер 3 MB, форматы JPG, PNG, GIF</div>#}
            {#<div class="fileUploadLevel">#}
                {#<input type="submit" name="commit" value="Сохранить изображение" class="fileUploadSubmit" />#}
                {#<div class="loaderUpload" style="display:none"></div>#}
            {#</div>#}
        {#</form>#}
    {#</div>#}
{% endblock %}