<div style="background-color:#f2f3f7">
    <table cellspacing="0" cellpadding="0" style="padding:0;width:100%;font-family:Verdana,Tahoma,Arial,Helvetica,sans-serif;font-size:14px">
        <tbody>
        <tr>
            <td style="background-color:#fff;border-bottom:8px solid #f2f3f7;height:55px;padding:0 10px 0;color:#fff;font-weight:bold;text-align:center">
                <img src="https://ci3.googleusercontent.com/proxy/iliFHce3Pfq3QHWDS2CKXhfu2mnABYgJidvaEoVi5aRYt_TbfVFDdhQVT7fJ5UR_5qd3WMNQIwqTkQFENDY=s0-d-e1-ft#http://ask.fm/images/welcomeLogo-160.png" style="border:none;vertical-align:middle" alt="ASKfm">
            </td>
        </tr>
        <tr>
            <td style="background-color:#fff;border:1px solid #fff;padding:20px">
                <strong>Кто-то задал вам вопрос на ASKfm</strong>
                <p style="font-size:16px">{{ question.text }}</p>
                <p>
                    Пройдите по ссылке, чтобы ответить:
                    <a href="http://l.ask.fm/goto/50aiCb_tfaGMFH48iDvi_IoyuBSWvfSauQjrsff21jfHJQt2FJYALVa29R4IRW8-VlKEdN8t9DGw9cFi4Sk4gFQOUyMj4x6UNSPewPSkgy_H-thERI-J" style="color:#3081a3" dir="ltr" target="_blank">{{ url('site_question_show', {id: question.id}) }}</a>
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px;background-color:#f2f3f7;text-align:center">
                <p style="font-size:11px;color:#898989">
                    В социальных сетях: <a href="http://ask.fm/askfm" style="color:#ff643c;text-decoration:none" dir="ltr" target="_blank">ASKfm</a>
                    | <a href="http://twitter.com/askfm" style="color:#ff643c;text-decoration:none" dir="ltr" target="_blank">Twitter</a>
                    | <a href="http://www.facebook.com/askfmpage" style="color:#ff643c;text-decoration:none" dir="ltr" target="_blank">Facebook</a>
                    | <a href="https://www.instagram.com/askfm" style="color:#ff643c;text-decoration:none" target="_blank">Instagram</a>
                    | <a href="https://www.vk.com/team_askfm" style="color:#ff643c;text-decoration:none" target="_blank">VK</a>
                </p>
                <p style="font-size:11px;color:#898989;text-decoration:none">
                    Вы получили это письмо потому, что у вас в ASKfm включены настройки оповещения на электронную почту.
                    Если вы не желаете получать письма от ASKfm, то можете <a href="http://ask.fm/home/unsubscribe-email/05132a153366eb9d4279d244e9a3d23c380c7444" style="color:#ff643c;text-decoration:none" dir="ltr" target="_blank">отписаться от оповещений.</a>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>