<form id="loginForm" data-action="FormXHRSubmit" action="{{ path('fos_user_security_check') }}" accept-charset="UTF-8" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="inputFormBox">
        <div class="inputFormPadding">
            <input type="text" name="_username" class="inputForm" maxlength="40" placeholder="Имя пользователя или e-mail" autocomplete="username" autofocus="autofocus" data-input="CaptchaReload" />
        </div>
        <div class="inputFormPadding">
            <input type="password" name="_password" class="inputForm" maxlength="20" placeholder="Пароль" autocomplete="current-password" />
        </div>
    </div>
    <div class="captchaContainer" style="display:none" data-url="{{ path('user_security_captcha') }}"></div>
    <div class="simpleFormItem">
        <input type="submit" class="btn-primary-wide" name="_submit" value="Войти">
    </div>
    <div class="simpleFormItem">
        <input type="checkbox" name="_remember_me" id="rememberMe" value="1" class="checkbox" checked="checked" />
        <label for="rememberMe">Запомнить меня</label>
        <a href="/login/recover">Забыли пароль?</a>
    </div>
</form>
<div class="loginServices">
    <h2 class="strikeThrough"><span>{{ 'form.social.login_with'|trans }}</span></h2>
    {% include '@App/Partials/auth_socials.html.twig' %}
</div>