{% extends '@App/base_auth.html.twig' %}

{% block main_column %}
    <form id="askForm" autocomplete="off" class="new_question" data-gtm="{&quot;name&quot;:&quot;ask-question&quot;,&quot;meta&quot;:[]}" data-action="FormXHRSubmit" action="{{ path('site_profile_ask', {username: user.username}) }}" accept-charset="UTF-8" method="post">
        <div class="question">
            <textarea placeholder="Напишите ваш вопрос" autofocus="autofocus" data-counter=".optionsBar-counter" data-limit="300" data-atcomplete="/account/friends/autocomplete" name="question_text" id="question_question_text"></textarea>
        </div>
        <div class="optionsBar">
            <div class="optionsBar-option optionsBar-online">
                Показывать статус
                <span class="afm-popover-container">
                    <a class="icon-caret-up online" data-action="PopoverOpen" data-class="online" data-text="Скрыт" href="#">Онлайн</a>
                    <nav class="afm-popover right" style="display:none">
                        <a class="online" data-action="OnlineStatusShow" data-url="/account/settings/online" href="#">Онлайн</a>
                        <a data-action="OnlineStatusHide" data-url="/account/settings/online" href="#">Скрыт</a>
                    </nav>
                </span>
            </div>
            <div class="optionsBar-option optionsBar-counter"></div>
            <input name="anonymous" type="hidden" value="0" />
            <input class="checkbox" id="single_question_anonymous" type="checkbox" value="true" checked="checked" name="anonymous" />
            <label for="single_question_anonymous" class="optionsBar-askMode">
                <span>Анонимный вопрос</span>
            </label>
        </div>
        <div class="optionsBar rsp-eql-desktop">
            <button name="button" type="submit" class="btn-primary">Спросить</button>
        </div>
        <div class="captchaContainer" style="display:none" data-url="/butkodenis/ask/captcha"></div>
    </form>
{% endblock %}