{% extends '@App/base_auth.html.twig' %}

{% block title %}
    {{ user.displayName }} (@{{ user.username }}) — {{ user.answersCount }} ответа, {{ user.likesCount }} лайков | ASKfm
{% endblock %}

{% block top_content %}
    <div class="profile-background" style="background-image:url(http://akimg1.ask.fm/wallpapers/000/000/085/original/carbon.jpg)">
        <div class="profile-header">
            <a class="profile-picture " style="background-image:url(/assets/noAvatar-4b34422d579c3e7e542fb989b31cfaeb70cf8e44890ea0cb06a7c7dc9ffcb643.png)" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;profile-photo&quot;,&quot;Media&quot;,&quot;Profile photo&quot;]}" data-action="ImagesOpen" data-urls="{&quot;/assets/noAvatar-4b34422d579c3e7e542fb989b31cfaeb70cf8e44890ea0cb06a7c7dc9ffcb643.png&quot;:&quot;/assets/noAvatar-4b34422d579c3e7e542fb989b31cfaeb70cf8e44890ea0cb06a7c7dc9ffcb643.png&quot;}" href="/denchik/avatar"></a>
            <a class="profile-name" href="{{ path('site_profile_show', {username: user.username}) }}"><span class="blockLink">{{ user.fullName }}</span><span class="blockLink" dir="ltr">@{{ user.username }}</span></a>
            {% if is_granted('follow', user) %}
                <div class="profile-label">
                    {% if user.followedByViewer %}
                        <a class="profileButton" data-action="PopupOpen" data-url="{{ path('site_profile_unfollow', {username: user.username}) }}" href="#">Отписаться</a>
                    {% else %}
                        <a class="profileButton icon-add-friend" data-action="PopupOpen" data-url="{{ path('site_profile_follow', {username: user.username}) }}" href="#">Подписаться</a>
                    {% endif %}
                </div>
            {% endif %}
            <a class="left icon-flag" title="Пожаловаться" data-action="PopupOpen" data-url="/denchik/flag/report" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;report-user&quot;,&quot;User reports&quot;,&quot;Index&quot;]}" href="#"></a>
        </div>
    </div>

    <div class="profile-bio rsp-lte-tablet">
        <p>{{ user.biography }}</p>
        <a class="btn-primary-wide" data-action="PopupOpen" data-url="{{ path('user_prompt') }}" href="#">Задай мне вопрос</a>
    </div>
    <div class="rsp-eql-mobile">
        <nav class="subTabBar profileTabBar">
            <a title="Ответы" class="icon icon-answer active" href="{{ path('site_profile_show', {username: user.username}) }}"><div class="profileTabAnswerCount">{{ user.answersCount }}</div></a>
            <a title="Лайки" class="icon icon-like" href="{{ path('site_profile_best', {username: user.username}) }}"><div class="profileTabLikeCount">{{ user.likesCount }}</div></a>
        </nav>
    </div>

    <div class="rsp-gte-tablet">
        <nav class="subTabBar-wide profileTabBar">
            <a class="active" href="{{ path('site_profile_show', {username: user.username}) }}"><div class="profileTabAnswerCount">{{ user.answersCount }}</div>Ответы</a>
            <a class="" href="{{ path('site_profile_best', {username: user.username}) }}"><div class="profileTabLikeCount">{{ user.likesCount }}</div>Лайки</a>
        </nav>
    </div>
{% endblock %}

{% block main_column %}

    <div class="streamItem streamItem-panel">
        <h1 class="streamItemContent streamItemContent-heading">
            {{ user.displayName }}<div>Последние ответы</div>
        </h1>
    </div>

    <a id="newItemsReady" style="display:none" data-action="ItemsPoll" data-poll-url="/denchik/answers/poll?score=1421593815" href="#"></a>

    <div class="item-pager ">
        {% for question in questions %}
            <div class="item streamItem streamItem-answer">
                <div class="streamItemContent streamItemContent-question">
                    <h2>{{ question.text }}</h2>
                </div>
                <div class="answerWrapper">
                    <p class="streamItemContent streamItemContent-answer">{{ question.answerText }}</p>
                    <p class="readMore">
                        <a class="button" data-action="ReadMore" href="#">Показать еще</a>
                    </p>
                </div>
                <div class="streamItemContent streamItemContent-footer">
                    <div class="streamItemsAge links">
                        <a title="января 18, 2015 15:10:14 GMT" href="/denchik/answers/123337507660">больше 1 года назад</a>
                    </div>
                </div>
                <div class="streamItemOptions afm-popover-container">
                    <div class="likeButton">
                        <a class="icon-like" data-action="PopupOpen" data-url="{{ prompt_path('site_question_like', {id: 1}) }}" href="#"></a>
                        <a class="counter" href="/denchik/answers/123337507660">1</a>
                    </div>
                    <a title="Другое" class="streamItemOptions-more icon-more" data-action="PopoverOpen" href="#"></a>
                    <nav class="afm-popover right" style="display:none">
                        <a class="icon-flag" data-action="PopupOpen" data-url="/denchik/answers/123337507660/flag" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;report-topic&quot;,&quot;Answer reports&quot;,&quot;New reason&quot;]}" href="#">Пожаловаться на сообщение</a>
                    </nav>
                    <a class="rsp-lte-tablet streamItemOptions-reask icon-reask" data-action="PopupOpen" data-url="/login/prompt" href="#"></a>
                    <a class="rsp-eql-desktop streamItemOptions-reask icon-reask" data-action="PopupOpen" data-url="/login/prompt" href="#"></a>
                    <a title="Поделиться" class="streamItemOptions-share icon-share" data-action="PopupOpen" data-url="/login/prompt" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;share-topic&quot;,&quot;Share answer&quot;,&quot;New&quot;]}" href="#"></a>
                </div>
            </div>
        {% endfor %}
        <a class="viewMore" data-action="ItemsMore" data-url="/denchik/answers/more?page=1&amp;score=1421593814" href="#">Загрузка...</a>
    </div>

    <div class="emptyResults icon-owl-sad" style="display:none">
        <p>Этот пользователь не ответил ни на один вопрос</p>
        <p>Задайте вопрос {{ user.username }}</p>
    </div>

{% endblock %}

{% block side_column %}
    {% if user is defined and is_granted('ask', user) %}
        <div class="ask-box side-section">
            <h3>Спросите у <span dir="ltr">@{{ user.username }}</span>:</h3>
            <form id="askForm" autocomplete="off" class="new_question" data-gtm="{&quot;name&quot;:&quot;ask-question&quot;,&quot;meta&quot;:[]}" data-action="FormXHRSubmit" action="/denchik/ask" accept-charset="UTF-8" method="post">
                <input name="utf8" type="hidden" value="&#x2713;" />
                <input type="hidden" name="authenticity_token" value="Z1RRdCdCKCGZ1IEtJm0wHvffh6llGY3Fu9VQ1Dnc7j5WU09MLn+YVl2eOFSOgxYg4fcP5MNwVUY5oBeLjsOVHQ==" />
                <div class="question">
                    <textarea placeholder="Напишите ваш вопрос" autofocus="autofocus" data-counter=".optionsBar-counter" data-limit="300" data-atcomplete="/account/friends/autocomplete" name="question[question_text]" id="question_question_text"></textarea>
                </div>
                <div class="optionsBar">
                    <button name="button" type="button" class="btn-primary" data-action="SaveQuestionAndPopupOpen" data-url="{{ prompt_path('user_prompt') }}">Спросить</button>
                    <div class="optionsBar-option optionsBar-counter"></div>
                    <input name="question[anonymous]" disabled="disabled" type="hidden" value="0" />
                    <input disabled="disabled" class="checkbox" id="single_question_anonymous" type="checkbox" value="true" name="question[anonymous]" />
                    <label for="single_question_anonymous" class="optionsBar-askMode">
                        <span>Анонимный вопрос</span>
                    </label>
                </div>
            </form>
        </div>
    {% endif %}

    {% if user.biography|length > 0 %}
        <div class="side-section">
            <h3>О {{ user.displayName }}:</h3>
            <p>{{ user.biography }}</p>
        </div>
    {% endif %}
{% endblock %}