{% extends '@App/base_auth.html.twig' %}

{% block title %}
    {{ user.displayName }} (@{{ user.username }}) — {{ user.answersCount }} ответа, {{ user.likesCount }} лайков | ASKfm
{% endblock %}

{% block top_content %}
    <div class="profile-background" style="background-image:url(http://akimg1.ask.fm/wallpapers/000/000/085/original/carbon.jpg)">
        <div class="profile-header">
            <a class="profile-picture{% if app.user.emoodji > 0 %} emoodji-user emoodji{{ app.user.emoodji }}-user{% endif %}" style="background-image:url({{ asset('assets/noAvatar.png') }})" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;profile-photo&quot;,&quot;Media&quot;,&quot;Profile photo&quot;]}" data-action="ImagesOpen" data-urls="{&quot;{{ asset('assets/noAvatar.png') }}&quot;:&quot;{{ asset('assets/noAvatar.png') }}&quot;}" href="/denchik/avatar"></a>
            <a class="profile-name" href="{{ path('site_profile_show', {username: user.username}) }}">
                <span class="blockLink">{{ user.fullName }}</span>
                <span class="blockLink" dir="ltr">@{{ user.username }}</span>
            </a>
            {% if is_granted('follow', user) %}
                <div class="profile-label">
                    {% if user.followedByViewer %}
                        <a class="profileButton" data-action="PopupOpen" data-url="{{ path('site_profile_unfollow', {username: user.username}) }}" href="#">Отписаться</a>
                    {% else %}
                        <a class="profileButton icon-add-friend" data-action="PopupOpen" data-url="{{ path('site_profile_follow', {username: user.username}) }}" href="#">Подписаться</a>
                    {% endif %}
                </div>
            {% endif %}
            <a class="left icon-flag" title="Пожаловаться" data-action="PopupOpen" data-url="/denchik/flag/report" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;report-user&quot;,&quot;User reports&quot;,&quot;Index&quot;]}" href="#"></a>
        </div>
    </div>
    <div class="profile-bio rsp-lte-tablet">
        <p>{{ user.biography }}</p>
        <a class="btn-primary-wide" data-action="PopupOpen" data-url="{{ path('user_prompt') }}" href="#">Задай мне вопрос</a>
    </div>
    <div class="rsp-eql-mobile">
        <nav class="subTabBar profileTabBar">
            <a title="Ответы" class="icon icon-answer active" href="{{ path('site_profile_show', {username: user.username}) }}"><div class="profileTabAnswerCount">{{ user.answersCount }}</div></a>
            <a title="Лайки" class="icon icon-like" href="{{ path('site_profile_best', {username: user.username}) }}"><div class="profileTabLikeCount">{{ user.likesCount }}</div></a>
        </nav>
    </div>
    <div class="rsp-gte-tablet">
        <nav class="subTabBar-wide profileTabBar">
            <a class="active" href="{{ path('site_profile_show', {username: user.username}) }}"><div class="profileTabAnswerCount">{{ user.answersCount }}</div>Ответы</a>
            <a class="" href="{{ path('site_profile_best', {username: user.username}) }}"><div class="profileTabLikeCount">{{ user.likesCount }}</div>Лайки</a>
        </nav>
    </div>
{% endblock %}

{% block main_column %}
    <div class="streamItem streamItem-panel">
        <h1 class="streamItemContent streamItemContent-heading">
            {{ user.displayName }}<div>Последние ответы</div>
        </h1>
    </div>
    <a id="newItemsReady" style="display:none" data-action="ItemsPoll" data-poll-url="/denchik/answers/poll?score=1421593815" href="#"></a>
    <div class="item-pager ">
        {% for question in questions %}
            <div class="item streamItem streamItem-answer">
                <div class="streamItemContent streamItemContent-question">
                    <h2>{{ question.text }}</h2>
                </div>
                <div class="answerWrapper">
                    <p class="streamItemContent streamItemContent-answer">{{ question.answerText }}</p>
                    <p class="readMore">
                        <a class="button" data-action="ReadMore" href="#">Показать еще</a>
                    </p>
                </div>
                <div class="streamItemContent streamItemContent-footer">
                    <div class="streamItemsAge links">
                        <a title="января 18, 2015 15:10:14 GMT" href="/denchik/answers/123337507660">больше 1 года назад</a>
                    </div>
                </div>
                <div class="streamItemOptions afm-popover-container">
                    {% if is_granted('like', user) %}
                        <div class="likeButton">
                            <a class="icon-like" data-action="PopupOpen" data-url="{{ prompt_path('site_question_like', {id: 1}) }}" href="#"></a>
                            <a class="counter" href="/denchik/answers/123337507660">1</a>
                        </div>
                    {% endif %}
                    <a title="Другое" class="streamItemOptions-more icon-more" data-action="PopoverOpen" href="#"></a>
                    <nav class="afm-popover right" style="display:none">
                        <a class="icon-flag" data-action="PopupOpen" data-url="/denchik/answers/123337507660/flag" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;report-topic&quot;,&quot;Answer reports&quot;,&quot;New reason&quot;]}" href="#">Пожаловаться на сообщение</a>
                    </nav>
                    <a class="rsp-lte-tablet streamItemOptions-reask icon-reask" data-action="PopupOpen" data-url="/login/prompt" href="#"></a>
                    <a class="rsp-eql-desktop streamItemOptions-reask icon-reask" data-action="PopupOpen" data-url="/login/prompt" href="#"></a>
                    <a title="Поделиться" class="streamItemOptions-share icon-share" data-action="PopupOpen" data-url="/login/prompt" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;share-topic&quot;,&quot;Share answer&quot;,&quot;New&quot;]}" href="#"></a>
                </div>
            </div>
        {% endfor %}
        <a class="viewMore" data-action="ItemsMore" data-url="/denchik/answers/more?page=1&amp;score=1421593814" href="#">Загрузка...</a>
    </div>
    <div class="emptyResults icon-owl-sad" style="display:none">
        <p>Этот пользователь не ответил ни на один вопрос</p>
        <p>Задайте вопрос {{ user.username }}</p>
    </div>
{% endblock %}

{% block side_column %}
    {% if user is defined and is_granted('ask', user) %}
        <div class="ask-box side-section">
            <h3>Спросите у <span dir="ltr">@{{ user.username }}</span>:</h3>
            <form id="askForm" autocomplete="off" class="new_question" data-gtm="{&quot;name&quot;:&quot;ask-question&quot;,&quot;meta&quot;:[]}" data-action="FormXHRSubmit" action="{{ path('site_profile_ask', {username: user.username}) }}" accept-charset="UTF-8" method="post">
                <div class="question">
                    <textarea placeholder="Напишите ваш вопрос" autofocus="autofocus" data-counter=".optionsBar-counter" data-limit="300" data-atcomplete="/account/friends/autocomplete" name="question_text" id="question_question_text"></textarea>
                </div>
                <div class="optionsBar">
                    {% if app.user is not null %}
                        <div class="optionsBar-option optionsBar-online">
                            Показывать статус
                            <span class="afm-popover-container">
                                <a class="icon-caret-up online" data-action="PopoverOpen" data-class="online" data-text="Скрыт" href="#">Онлайн</a>
                                <nav class="afm-popover right" style="display:none">
                                    <a class="online" data-action="OnlineStatusShow" data-url="/account/settings/online" href="#">Онлайн</a>
                                    <a data-action="OnlineStatusHide" data-url="/account/settings/online" href="#">Скрыт</a>
                                </nav>
                            </span>
                        </div>
                    {% endif %}
                    <button name="button" type="{{ app.user is null ? 'button' : 'submit' }}" class="btn-primary"{% if app.user is null %} data-action="SaveQuestionAndPopupOpen" data-url="{{ path('user_prompt') }}"{% endif %}>Спросить</button>
                    <div class="optionsBar-option optionsBar-counter"></div>
                    <input name="anonymous"{% if app.user is null %} disabled="disabled"{% endif %} type="hidden" value="0" />
                    <input{% if app.user is null %} disabled="disabled"{% endif %} class="checkbox" id="single_question_anonymous" type="checkbox" value="true" name="anonymous" />
                    <label for="single_question_anonymous" class="optionsBar-askMode">
                        <span>Анонимный вопрос</span>
                    </label>
                </div>
            </form>
        </div>
    {% endif %}
    {% if user.biography|length > 0 %}
        <div class="side-section">
            <h3>О {{ user.displayName }}:</h3>
            <p>{{ user.biography }}</p>
        </div>
    {% endif %}
{% endblock %}